/* This resets all the presets - we are starting from scratch */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* First is to create the flex container for navigation container - this is the 'box' that surrounds menu bar */
.navigation-container {
    color: whitesmoke;
    background: #2f394d;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

/* Another container inside the container above - this container is for the items */
.navigation-items {
    border: 1px solid #fff;  /* For debugging */
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

/* Items of Navigation bar below */
.name {
    border: 1px solid #fff;  /* For debugging */
}

.links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
}

.about-me {
    border: 1px solid #fff;  /* For debugging */

}

.contact {
    border: 1px solid #fff;  /* For debugging */
    margin-left: 20px;
}

.projects {
    border: 1px solid #fff;  /* For debugging */
    margin-left: 20px;
}

/* Header */